/* * {
  background-color: rgba(6, 111, 197, 0.771);
} */
.App {
  background-image: linear-gradient(
    to right,
    rgb(0, 136, 255),
    rgba(12, 104, 150, 0.64)
  );
  height: 100vh;
  width: 100;
}
